.footBox{
  height: 45px;
  line-height: 45px;
  position: fixed;
  bottom: 0;
  display: flex;
  font-size: 1.6rem;
  background: #f6f6f6;
  width: 100%;
  border-top: 1px solid #e8e8e8;
}
.footBox div{
  flex: 1;
  text-align: center;
  color: #c2cfcc;
}
.footBox div span:nth-of-type(1){
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-bottom: -1px;
  margin-right: 3px;
}

.footBox div:nth-of-type(1) .icon{
  background: url('../../static/images/icon2.png') no-repeat -32px -2.5px;
  background-size: 250px 250px;  
}
.footBox div:nth-of-type(2) .icon{
  background: url('../../static/images/icon2.png') no-repeat -14px -2.5px;
  background-size: 250px 250px;  
}
.footBox div:nth-of-type(3) .icon{
  background: url('../../static/images/icon2.png') no-repeat -52.5px -2px;
  background-size: 250px 250px;  
}
/* .footBox div .active{
  color: #00b38a;
  background: #e7f3f0;
}
.footBox div:nth-of-type(1) .selected{
  background: url('../../static/images/icon2.png') no-repeat -32px -20.5px;
  background-size: 250px 250px;  
} */