.user .user_login{
  height: 111px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user .user_login span{
  display: block;
  font-size: 1.4rem;
  color: #fff;
  height: 45px;
  line-height: 45px;
  background: #1fc8a1;
  text-align: center;
  width: 125px;
}
.user .user_type{
  padding: 0 12px;
  overflow: hidden;
}
.user .user_type div{
  background: #1fc8a1;
  margin-top: 10px;
  height: 86px;  
  line-height: 86px;
  color: #fff;
  width: 48%;
  font-size: 1.6rem;
  text-align: center;
  float: left;
}
.user .user_type .right{
  margin-left: 14px;
}